<table class="list">
  <tr class="<%= cycle 'odd', 'even' %>">
      <td class="name"><%= l(:label_system_info) %>:</td><td class="name"><%= system_info %></td>
  </tr>
  <tr class="<%= cycle 'odd', 'even' %>">
      <td class="name"><%= l(:label_uptime) %>:</td><td class="name"><%= system_uptime %></td>
  </tr>
</table>
