<br />
<h3><%= l(:label_content_plural) %></h3>

<p>
  <%= content_tag(:label, l(:label_account_login)) %>
  <%= text_area_tag 'settings[account_login_bottom]', @settings[:account_login_bottom], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:account_login_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_global_sidebar)) %>
  <%= text_area_tag 'settings[global_sidebar]', @settings[:global_sidebar], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:global_sidebar_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_global_footer)) %>
  <%= text_area_tag 'settings[global_footer]', @settings[:global_footer], class: 'wiki-edit', rows: 5 %>
  <em class="info"><%= l(:global_footer_info) %></em>
</p>

<br />
<h3><%= l(:label_setting_plural) %></h3>

<p>
  <%= content_tag(:label, l(:label_external_urls)) %>
  <%= select_tag 'settings[external_urls]', options_for_select({
              l(:external_url_default) => '0',
              l(:external_url_new_window) => '1',
              l(:external_url_noreferrer) => '2'
              }, @settings['external_urls']) %>
  <em class="info"><%= t(:external_urls_info_html) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_add_go_to_top)) %>
  <%= check_box_tag 'settings[add_go_to_top]', 1, @settings[:add_go_to_top].to_i == 1 %>
  <em class="info"><%= t(:add_go_to_top_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_legacy_smiley_support)) %>
  <%= check_box_tag 'settings[legacy_smiley_support]', 1, @settings[:legacy_smiley_support].to_i == 1 %>
  <em class="info"><%= t(:legacy_smiley_support_info_html) %></em>
</p>
