
<br />
<h3><%= l(:label_content_plural) %></h3>

<p>
  <%= content_tag(:label, l(:label_new_ticket_message)) %>
  <%= text_area_tag 'settings[new_ticket_message]', @settings[:new_ticket_message], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:new_ticket_message_info) %></em>
</p>

<br />
<h3><%= l(:label_setting_plural) %></h3>

<div class="info"><%= t(:top_rules_help) %></div>
<br />

<p>
  <%= content_tag(:label, l(:label_issue_autowatch_involved)) %>
  <%= check_box_tag 'settings[issue_autowatch_involved]', 1, @settings[:issue_autowatch_involved].to_i == 1 %>
</p>

<p>
  <%= content_tag(:label, l(:label_rule_issue_close_with_open_children)) %>
  <%= check_box_tag 'settings[issue_close_with_open_children]', 1, @settings[:issue_close_with_open_children].to_i == 1 %>
</p>
<br />

<% rule_status = IssueStatus.sorted %>
<p>
  <%= content_tag(:label, l(:label_rule_issue_status_change)) %>
  <%= check_box_tag 'settings[issue_status_change]', 1, @settings[:issue_status_change].to_i == 1 %>
  <span style="vertical-align: top; margin-left: 15px;">
  <%= l(:field_status) %> x: <%= select_tag 'settings[issue_status_x]', options_for_select(rule_status.collect{|column| [column.name, column.id]}, @settings[:issue_status_x]), multiple: true,  size: 6, style: 'width:150px' %>
  <%= l(:field_status) %> y: <%= select_tag 'settings[issue_status_y]', options_for_select(rule_status.collect{|column| [column.name, column.id]}, @settings[:issue_status_y]), multiple: false, style: 'width:150px; vertical-align: top' %>
  </span>
</p>
<em class="info"><%= t(:rule_issue_status_change_info) %></em>

<br /><br />

<p>
  <%= content_tag(:label, l(:label_rule_issue_current_user_status)) %>
  <%= check_box_tag 'settings[issue_current_user_status]', 1, @settings[:issue_current_user_status].to_i == 1 %>
  <span style="vertical-align: top; margin-left: 15px;">
  <%= l(:field_status) %> x: <%= select_tag 'settings[issue_assign_to_x]', options_for_select(rule_status.collect{|column| [column.name, column.id]}, @settings[:issue_assign_to_x]), multiple: true, size: 6, style: 'width:150px' %>
  </span>
</p>
<em class="info"><%= t(:rule_issue_current_user_status_info) %></em>

<br /><br />

<p>
  <%= content_tag(:label, l(:label_rule_issue_auto_assign)) %>
  <%= check_box_tag 'settings[issue_auto_assign]', 1, @settings[:issue_auto_assign].to_i == 1 %>
  <span style="vertical-align: top; margin-left: 15px;">
  <%= l(:field_status) %> x: <%= select_tag 'settings[issue_auto_assign_status]', options_for_select(rule_status.collect{|column| [column.name, column.id]}, @settings[:issue_auto_assign_status]), multiple: true, size: 6, style: 'width:150px' %>
  <%= l(:label_role) %>: <%= select_tag 'settings[issue_auto_assign_role]', options_from_collection_for_select(Role.givable.sorted, :id, :name, @settings[:issue_auto_assign_role]), multiple: false, style: 'width:150px; vertical-align: top' %>
  </span>
</p>
<em class="info"><%= t(:rule_issue_auto_assign_info) %></em>
