<div class="info"><%= t(:label_top_menu_help_html) %></div>

<br />

<h3><%= l(:label_custom_menu_items) %></h3>

<% 5.times do |i| %>
<fieldset>
  <legend><b><%=h l(:label_menu_entry) %> #<%= i+1  %></b></legend>
<div>
<p><label><%=h l(:field_name)%></label><%= text_field_tag('settings[custom_menu'+i.to_s+'_name]', @settings['custom_menu'+i.to_s+'_name'], size: 40) %></p>
<p><label><%=h l(:field_url)%></label><%= text_field_tag('settings[custom_menu'+i.to_s+'_url]', @settings['custom_menu'+i.to_s+'_url'], size: 80) %></p>
<p><label><%=h l(:field_title)%></label><%= text_field_tag('settings[custom_menu'+i.to_s+'_title]', @settings['custom_menu'+i.to_s+'_title'], size: 80) %> <i>(<%=l(:label_optional)%>)</i></p>

<p><label><%=h l(:label_permissions)%></label>
  <% permission_field = 'custom_menu'+i.to_s+'_roles' %>
  <% menu_roles = Struct.new(:id, :name) %>
	<%= select_tag('settings['+permission_field+']', options_from_collection_for_select(Role.sorted.collect {|m| menu_roles.new(m.id, m.name) }, :id, :name, @settings[permission_field]), { multiple: true, style: 'height: 100px;' }) %>
  <em class="info"><%= l(:menu_roles_info) %></em>
</p>

</div>
</fieldset>
<% end %>

<br />
<h3><%= l(:label_setting_plural) %></h3>

<p>
  <%= content_tag(:label, l(:label_custom_help_url)) %>
  <%= text_field_tag('settings[custom_help_url]', @settings[:custom_help_url], size: 60) %>
  <em class="info"><%= t(:custom_help_url_info_html) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_remove_help)) %>
  <%= check_box_tag 'settings[remove_help]', 1, @settings[:remove_help].to_i == 1 %>
  <em class="info"><%= l(:remove_help_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_remove_mypage)) %>
  <%= check_box_tag 'settings[remove_mypage]', 1, @settings[:remove_mypage].to_i == 1 %>
  <em class="info"><%= l(:remove_mypage_info) %></em>
</p>
