<div class="info"><%= t(:top_overview_help) %></div>

<br />
<h3><%= l(:label_content_plural) %></h3>

<p>
  <%= content_tag(:label, l(:label_overview_right)) %>
  <%= text_area_tag 'settings[overview_right]', @settings[:overview_right], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:overview_right_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_overview_top)) %>
  <%= text_area_tag 'settings[overview_top]', @settings[:overview_top], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:overview_top_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_overview_bottom)) %>
  <%= text_area_tag 'settings[overview_bottom]', @settings[:overview_bottom], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:overview_bottom_info) %></em>
</p>

<br />
<h3><%= l(:label_setting_plural) %></h3>

<p>
  <%= content_tag(:label, l(:label_remove_news)) %>
  <%= check_box_tag 'settings[remove_news]', 1, @settings[:remove_news].to_i == 1 %>
  <em class="info"><%= l(:remove_news_info) %></em>
</p>
