<div class="info"><%= t(:top_projects_help) %></div>
<br />

<p>
  <%= content_tag(:label, l(:label_project_overview_content)) %>
  <%= text_area_tag 'settings[project_overview_content]', @settings[:project_overview_content], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:project_overview_content_info) %></em>
</p>

<p>
<% disabled_modules = Struct.new(:id, :name) %>
  <%= content_tag(:label, l(:label_disabled_modules)) %>
	<%= select_tag("settings[disabled_modules]", options_from_collection_for_select(Redmine::AccessControl.available_project_modules_all.collect {|m| disabled_modules.new(m, l_or_humanize(m, prefix: 'project_module_').to_s) }, :id, :name, @settings[:disabled_modules]), { multiple: true, style: 'height: 300px;' }) %>
  <em class="info"><%= l(:disabled_modules_info) %></em>
</p>
