<div class="projects box">
	<% if list_title %><h3><%= list_title %></h3><% end %>
<ul>
	<%
  @projects.each {|project| %>
		<li class="project <%= cycle("odd", "even") %>"><span style="font-weight: bold;"><%= link_to_project(project) %></span><%
		if project.homepage? %>: <%= link_to(project.homepage, project.homepage, @html_options) %><% end %>
        <% if with_create_issue %>
            <%= link_to('', {controller: 'issues',action: 'new', project_id: project },
                class: 'icon icon-add', title: l(:label_issue_new)) if User.current.allowed_to?(:add_issues, project) %>
        <% end %>
        </li>
	<% } %>
</ul>
</div>
