<div class="info"><%= t(:top_content_help) %></div>
<br />

<p>
  <%= content_tag(:label, l(:label_account_login)) %>
  <%= text_area_tag 'settings[account_login_bottom]', @settings[:account_login_bottom], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:account_login_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_new_ticket_message)) %>
  <%= text_area_tag 'settings[new_ticket_message]', @settings[:new_ticket_message], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:new_ticket_message_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_overview_right)) %>
  <%= text_area_tag 'settings[overview_right]', @settings[:overview_right], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:overview_right_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_overview_top)) %>
  <%= text_area_tag 'settings[overview_top]', @settings[:overview_top], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:overview_top_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_overview_bottom)) %>
  <%= text_area_tag 'settings[overview_bottom]', @settings[:overview_bottom], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:overview_bottom_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_project_overview_content)) %>
  <%= text_area_tag 'settings[project_overview_content]', @settings[:project_overview_content], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:project_overview_content_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_global_sidebar)) %>
  <%= text_area_tag 'settings[global_sidebar]', @settings[:global_sidebar], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:global_sidebar_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_global_wiki_sidebar)) %>
  <%= text_area_tag 'settings[global_wiki_sidebar]', @settings[:global_wiki_sidebar], class: 'wiki-edit', rows: 10 %>
  <em class="info"><%= l(:global_wiki_sidebar_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_global_wiki_header)) %>
  <%= text_area_tag 'settings[global_wiki_header]', @settings[:global_wiki_header], class: 'wiki-edit', rows: 5 %>
  <em class="info"><%= l(:global_wiki_header_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_global_wiki_footer)) %>
  <%= text_area_tag 'settings[global_wiki_footer]', @settings[:global_wiki_footer], class: 'wiki-edit', rows: 5 %>
  <em class="info"><%= l(:global_wiki_footer_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_global_footer)) %>
  <%= text_area_tag 'settings[global_footer]', @settings[:global_footer], class: 'wiki-edit', rows: 5 %>
  <em class="info"><%= l(:global_footer_info) %></em>
</p>
